COMPOSE_PROJECT_NAME=observability-kit

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

OTEL_COLLECTOR_CONFIG=/etc/otelcol/config.default.yaml

HOST_OTLP_GRPC_ENDPOINT=http://localhost:4317
CONTAINER_OTLP_GRPC_ENDPOINT=http://otel-collector:4317

PROMETHEUS_RETENTION_TIME=7d

ELASTIC_VERSION=8.15.0
ELASTIC_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme

DOTNET_EXAMPLE_SERVICE_NAME=observability-kit-example-api
DOTNET_EXAMPLE_ENVIRONMENT=dev
DOTNET_EXAMPLE_OTLP_ENDPOINT=http://otel-collector:4317
